.container {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-style: italic;
  margin: 0;
  font-size: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.image {
  width: 100%;
}
.descp {
  line-height: 1.5;
  font-size: 1.15rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.descp.close {
  -webkit-line-clamp: 6;
}

.arrow {
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
  min-height: 2rem;
}
.arrow.close {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.arrow:hover {
  font-size: 2rem;
}
