.grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  height: 15rem;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.image {
  padding: 0.15rem;
  border: 1px solid #eaeaea;
  height: 100%;
  margin-right: 1rem;
}

.content {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.descp {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info {
  display: flex;
  justify-content: space-between;
}

.date {
  margin: 0 0 0.5rem 0;
}

.section {
  margin: 0;
}
